* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    min-height: 100vh;
    background-color: #f4f4f4
}

.Logo {
    height: 80px;
    width: auto;
    border-radius: 50%;
    margin-top: 10px;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 400px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 30px;
}

hr {
    width: 80px;
    opacity: 0.6;
}

a {
    font-style: none;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    margin-top: 30px;
}

input[type="email"],
input[type="text"] {
    padding: 10px;
    width: calc(100% - 12px);
}

label {
    display: block;
    margin-top: 8px;
    margin-bottom: 5px;
    color: #333;
    margin-right: auto;
}

.mail {
    margin-right: 230px;
}

.psd {
    margin-right: 260px;
}

.rmbr {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
    margin-left: 8px;
}

button {
    background-color: #1d4d85;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.img {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.twt {
    display: flex;
    background-color: rgb(34, 151, 197);
    color: white;
    padding: 10px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    gap: 5px;
    width: 50%;
    height: auto;
    justify-content: center;
}

.Git {
    display: flex;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    gap: 5px;
    width: 50%;
    height: auto;
    justify-content: center;
}